@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "./variables";

// global
body {
  margin:0;
  background-color: #ccc;
}
.btn-outline-custom {
  border-color: $text-color;
  color: $text-color;
  outline: none;

  &:hover {
    background-color: $text-color;
    border-color: $text-color;
    color: $dark;
  }
}
//---------------



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  
  &__logo {
    max-width: 80px;
    display: block;
    img {
      max-width: 100%;
    }
  }

  &__nav {
    flex:0 0 25%;
    display: flex;
    justify-content: space-between;

    a {
      color: $text-color;
      
    }
  }

}

@import "./molecules/hero-banner";