@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "./variables";

// global
html {
  scroll-behavior: smooth;
}
body {
  margin:0;
  background-color: #000;
  color: $text-color;
}
.btn-outline-custom {
  border-color: $text-color;
  color: $text-color;
  outline: none;

  &:hover {
    background-color: $text-color;
    border-color: $text-color;
    color: $dark;
  }
}
.btn-form {
  padding: 10px 12px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  background-color: $main-color;
  font-weight: bold;
  color: $text-color;
}
@media (max-width:767px) {
  section {
    padding: 15px;
  }
}

@keyframes loading {
  0%{
    transform:rotate(0);
  }
  50%{
    transform:rotate(180deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

//---------------

.section-title {
  color: $main-color;
  font-size: 75px;
  line-height: 4.8rem;
  text-transform: uppercase;
  font-weight: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  
  &__logo {
    max-width: 80px;
    display: block;
    h1 {
      margin: 0;
    }
    img {
      max-width: 100%;
    }
  }

  &__nav {
    flex:0 0 25%;
    display: flex;
    justify-content: space-between;

    a {
      color: $text-color;
      
    }
  }

}
@media(max-width:767px) {
  .header {
    &__logo {
      max-width: 60px;
    }
    &__nav {
      flex-basis: 50%;
    }
  }
}

.footer {
  background-color: #fff;
  &__title {
    color: #000;
    font-size: 30px;
    margin-bottom: 0;
  }
  .link {
    display: block;
    
    &:hover {
      img {
        transform: scale(1);
      }
    }
    img {
      max-width: 100%;
    }
  }

  .developer {
    background-color: #000;
    color: $main-color;
    padding:3px 9px;
    p {
      font-size: 14px;
      margin: 0;
      text-align: right;
      a {
        color: $main-color;
        transition: color .2s;
        &:hover {
          color: $text-color;
          text-decoration: none;
        }
      }
    }
  }
}

@import "./molecules/hero-banner";
@import "./molecules/about";
@import "./molecules/product-list";
@import "./molecules/contact";